<div class="py-5">
    <div class="col-12 row text-center pb-4 fs-3"
        style="font-size: 26px;font-weight: 500;color: #000000;justify-content: center;">
        Exit
    </div>
    <div class="col-12 row p-2 text-center"
        style="font-size: 20px;font-weight: 500;color: #000000;justify-content: center;">
        Are you sure, you want to Exit?
    </div>
    <div class="col-12 row text-center" style="margin-top:40px;">
        <div class="col-6 text-center">
            <button mat-raised-button class="close" (click)="close()">No</button>
        </div>
        <div class="col-6 text-center">
            <button type="submit" class="confirm" (click)="confirm()">Yes</button>
        </div>
    </div>
</div>