@import '../../../styles.scss';
.greet
{
    background-color: var(--secondary-color);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.card
{
    width: 50vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);

}
.welcome
{
    height: calc(100% - 64px );
    display: flex;
    align-items: center;
    justify-content: center;
}
.line
{
    color: var(--secondary-color);
    height: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        background-color: var(--secondary-color);

}